.swipe-to-delete {
  position: relative !important;
  width   : 30rem;
}

.swipe-to-delete .js-content {
  position           : relative !important;
  z-index            : 2 !important;
  -webkit-user-select: none !important;
  -moz-user-select   : none !important;
  -ms-user-select    : none !important
}

.swipe-to-delete .js-content :first-child {
  position: relative !important
}

.swipe-to-delete .js-transition-delete-right,
.swipe-to-delete .js-transition-delete-left,
.swipe-to-delete .js-transition-cancel {
  transition-property: left !important;
  transition-duration: .25s
}

.swipe-to-delete .js-transition-delete-right {
  left: 100% !important
}

.swipe-to-delete .js-transition-delete-left {
  left: -100% !important
}

.swipe-to-delete .js-transition-cancel {
  left: 0 !important
}

.swipe-to-delete .js-delete svg {
  display: none;
}

.swipe-to-delete .js-delete svg:first-child {
  left : auto;
  right: 17px
}

.swipe-to-delete .js-content :first-child {
  cursor: pointer
}

.swipe-to-delete .js-transition-delete-right,
.swipe-to-delete .js-transition-delete-left,
.swipe-to-delete .js-transition-cancel {
  transition-duration       : .3s;
  transition-timing-function: ease-in
}